<%= render "shared/second-header"%>
<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
 
 <div class="body"></div>
   
  <div class="header-library">
    <div>Our<span>Lib</span></div>
  </div>
      <br>

  <%= render 'shared/error_messages', model: f.object %>
    
    <div class="grad">    
        <div class="login">
          <%= f.text_area :nickname, class:"textarea", id:"nickname", placeholder:"Nickname", maxlength:"40" ,autofocus: true %>
        </div>

        <div class="login">
          <%= f.email_field :email, class:"", id:"email", placeholder:"Email" %>
        </div>

        <div class="login">
          <%= f.password_field :password, class:"", id:"password", placeholder:"Password" ,autocomplete: "off" %>
        </div>

        <div class="login">
          <%= f.password_field :password_confirmation, class:"", id:"password_confirmation", placeholder:"password Confirmation" ,autocomplete: "off" %>
        </div>

        <div class='login'>
          <%= f.submit :register, class:"", id:"register", placeholder:"Register" %>
        </div>
    </div>
  <%#画面は実装できたが、保存ができない%>
  <%# <div class="login">
    <input type="text" placeholder="Nickname" name="user"><br>
    <input type="text" placeholder="Email" name="email"><br>
    <input type="password" placeholder="Password" name="password"><br>
    <input type="password" placeholder="Password Confirmation" name="password"><br>
    <input type="button" value="Register">  
  </div> %>

<% end %>
<%= render "shared/second-footer"%>