<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
     新しい一冊が人生をもっと豊かに
    </h2>
    
    <p class='service-explain'>
      みんなで最高の図書館をつくっていこう
    </p>
    <p class='service-explain'>
      おすすめの本を紹介するアプリです
    </p>
    <%# <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%# <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    <%# </div> %>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>
  <div class="blank-space"></div>
  <div class="book-introduce"> 
    <div class="book-primary-items">
      <h3>読書の効果<h3>
    </div>

    <div class="book-secondary-items">
    読書がもたらすさまざまな効果をご紹介いたします。
    </div>

    <div class="book-tertiary-items">
      <h4>読書は脳のつながりを強化する</h4><br>
      読書は脳内の異なる分野間の新たなつながりを促進する。<br>
      思考、考察、読解力を必要とする読書は、脳内における新たなニューロンを発生させ、処理スピードを加速させる。
      </div>

    <div class="book-tertiary-items">
      <h4>読書は加齢による認知力の低下を防ぐ</h4><br>
      認知力には学習したり、記憶したり、判断をする能力が含まれている。 <br>
      注意力と記憶力は年齢による影響を最も受けやすいと言われている認知機能であるが、読書といった知的活動が認知症の低下を関係していることが判明している。<br>
      </div>

    <div class="book-tertiary-items">
      <h4>読書をストレスレベルを低下させる</h4><br>
      30分間の読書がストレスの身体的、精神的サインを減少させることがわかっている。<br>
    </div>
    
    <div class="book-tertiary-items">
      <h4>読書は記憶力と集中力を向上させる</h4><br>
      運動が身体を強くするように、読書は私たちの記憶力や集中力を鍛えてくれる。<br>
    </div>

    <div class="blank-space"></div>
    <div class="book-primary-items">
      <h3>オススメの本の読み方<h3>
    </div>

    <div class="book-tertiary-items">
    <h4>ツッコミをいれながら読んでみる</h4><br>
      著者も人間なのですべて正しいことが書かれていない<br>
      自分の感性と比べて思ったことを突っ込みながら読んでいく
    </div>

    <div class="book-tertiary-items">
    <h4>著者月間を作る</h4><br>
      例えば同じテーマの本でもいくつか読んでみることが大事<br>
      1冊では点だが、いくつか本を読むことで面になる。
    </div>

    <div class="blank-space"></div>

   <div class='book-contents'>
    <h2 class='title'>ピックアップカテゴリー
    <span class="after">投稿一覧</span></h2>
    <%# <%= link_to '新規投稿一覧', "#", class: "subtitle" %>
    <ul class='book-lists'>

    <% @books.each do |book| %>
      <li class='list'>
      <p>
      <%= link_to "紹介者 #{book.user.nickname}", user_path(book.user.id),method: :get, class: :letterwhite %></p>
      <%# <p><a> 紹介者 </a><%= "#{book.user.nickname}"%></p>
          <%= link_to book_path(book) do %>
          <div class='item-img-content'>
           <%= image_tag book.image, class: "item-img" %>
            <div class='item-info'>
              <h3 class='item-name'>
                <p><a>著者 </a><%= "#{book.author}"%></p>
              </h3>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>

    <%= link_to "/books/new", class: 'purchase-btn' do %>
      <span class='purchase-btn-text'>紹介する</span>
      <%= image_tag 'book-icon02.jpeg' , size: '185x50' ,class: "purchase-btn-icon" %>
    <% end %>

    <%= render "shared/footer" %>